<ion-content class="bg">				
	<ion-grid>
		<ion-row >
			<ion-col width-100>
				<ion-img src="../assets/img/logo.png" class="logoImg"></ion-img>
				<p class="warnig">¡Nos estamos actualizando, pronto podrás ayudarnos a cambiar a México! Deja tu mensaje y estaremos en contacto contigo.</p>
				<form action="https://formspree.io/bbarba@cciudadano.com" method="POST">
					<ion-list>
						<ion-item>
						    <ion-input type="email" placeholder="Email" name="email"></ion-input>
						    <ion-icon name="mail" item-right></ion-icon>
						</ion-item>
						<ion-item>						
							<ion-textarea type="text" placeholder="Mensaje" name="mensaje"></ion-textarea>
						</ion-item>
					</ion-list>
					<button ion-button block type="submit" value="Send">Enviar</button>					
				</form>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
