page-home {

}
.bg{
	background-color: #004C62;
}
.warnig{
	color: white;
	font-size: 1.5em;
	height: auto;
}
.logoImg{
	width: 100%;
	height: 92%;
	background-color: #004C62;

	img{
		background-color: #004C62;
	    top: 0px;
	    left: 0px;
		margin: auto;
	}

}
